<div class="app-home">
  <div class="container">
    <div id="google-search" class="gcse-search"></div>
    <h1 class="motto">Buzzing, busy and beautiful!</h1>
    <div class="home-box">
      <div class="home-card">
        <h1 class="home-card-header">The River</h1>
        <img
          class="home-card-image"
          src="https://res.cloudinary.com/debnqkat4/image/upload/v1597527511/prabhu-chandian-2bcezyYADyE-unsplash_1_k2q4hm.jpg"
          alt="napier bridge"
        />
        <p class="home-card-content">
          <b>Napier bridge</b>
          is a bridge in Chennai, India, built over the Coovum River, connecting Fort St. George with the Marina beach.
          It is also one of the historic structures and landmark of the city.
        </p>
      </div><div class="home-card">
      <h1 class="home-card-header">The Beach</h1>
      <img
        class="home-card-image"
        src="https://res.cloudinary.com/debnqkat4/image/upload/v1597527440/prabhu-jeganathan-AhwpuUf66oQ-unsplash_1_zsfzml.jpg"
        alt="napier bridge"
      />
      <p class="home-card-content">
        <b>Marina Beach</b>
        is a natural urban beach in Chennai, Tamil Nadu, India, along the Bay of Bengal.
        The beach runs from near Fort St. George in the north to Foreshore Estate in the south, a distance of 6.0 km (3.7 mi),making it the longest natural urban beach in the country.
      </p>
    </div><div class="home-card">
      <h1 class="home-card-header">The Train</h1>
      <img
        class="home-card-image"
        src="https://res.cloudinary.com/debnqkat4/image/upload/v1597528199/mukund-nair-_ithqD_kUVk-unsplash_1_vktau9.jpg"
        alt="napier bridge"
      />
      <p class="home-card-content">
        <b>Chennai Suburban Railway</b>
        is a commuter rail system in the city of Chennai (Madras), Tamil Nadu, India, operated by the Indian Railways.
        It is the second largest suburban rail network in terms of route length and the third largest in terms of commuters in India.
      </p>
    </div><div class="home-card">
      <h1 class="home-card-header">The People</h1>
      <img
        class="home-card-image"
        src="https://res.cloudinary.com/debnqkat4/image/upload/v1597528940/karthik-chandran-uwSbfD1afxI-unsplash_1_plsvbw.jpg"
        alt="napier bridge"
      />
      <p class="home-card-content">
        <b>Being Chennaite</b>
        Known as the “Gateway to South India,” Chennai is a major administrative and cultural centre.
      </p>
    </div>
    </div>
  </div>
</div>
