.container{
  background-color: rgba(255, 255, 255, 0.2);
  margin: 50px;
}

.motto{
  color: chocolate;
  margin-top:5px;
}

.home-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px auto;
  padding: 0;
  width: 90%;
  font-size: 1.2em;
  p {
    margin-top: 20px;
    line-height: 1.6em;
  }
}

.home-card {
  max-width: 285px;
  margin: 0 auto;
  h1 {
    font-size: 1.4em;
    text-align: center;
    padding-bottom: 20px;
  }
}


img {
  margin: 0 !important;
  width: 100%;
}

@media (max-device-width: 480px) {
  .app-home {
    min-width: 0;
    h1 {
      font-size: 40px;
    }
  }

  .home-box {
    margin: 0 auto;
    width: 95%;
  }

  .home-words {
    font-size: 20px;
    padding: 0;
  }

  .home-card {
    font-size: 20px;
    width: 100%;
    h1 {
      font-size: 25px;
    }
  }
}
